<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="dev-launching" xml:lang="el">

  <info>
    <link type="guide" xref="index" group="launching"/>
    <link type="next" xref="dev-launching-desktop"/>
    <link type="seealso" xref="dev-translate"/>

    <revision version="0.1" date="2014-01-27" status="draft"/>

    <credit type="author copyright">
      <name>David King</name>
      <email its:translate="no">davidk@gnome.org</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Εμφάνιση ενός εκκινητή και εκκίνηση της εφαρμογής σας.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ελληνική μεταφραστική ομάδα GNOME</mal:name>
      <mal:email>team@gnome.gr</mal:email>
      <mal:years>2010-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2012-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Τζένη Πετούμενου</mal:name>
      <mal:email>epetoumenou@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μάριος Ζηντίλης</mal:name>
      <mal:email>m.zindilis@dmajor.org</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μαρία Θουκυδίδου</mal:name>
      <mal:email>marablack3@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gnome.org</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Εκκίνηση εφαρμογής</title>

  <links type="series" style="floatend">
    <title>Εκκινήστε την εφαρμογή σας</title>
  </links>

  <p>Ένα εικονίδιο στον εκκινητή είναι ο τυπικός τρόπος για να εκκινήσετε την εφαρμογής σας. Χρησιμοποιήστε την  πρότυπη προδιαγραφή καταχώρησης επιφάνειας εργασίας του freedesktop.org, για να δημιουργήσετε ένα αρχείο επιφάνειας εργασίας, δίνοντας στην εφαρμογή σας ένα όνομα, ενα εικονίδιο και μία σύντομη περιγραφή. </p>

</page>
