<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-help" xml:lang="el">

  <info>
    <link type="guide" xref="tech" group="help"/>
    <revision pkgversion="3.0" date="2011-04-05" status="final"/>

    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
      <years>2011–2012</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Θεματικά προσανατολισμένο δικτυακό σύστημα βοήθειας</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ελληνική μεταφραστική ομάδα GNOME</mal:name>
      <mal:email>team@gnome.gr</mal:email>
      <mal:years>2010-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2012-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Τζένη Πετούμενου</mal:name>
      <mal:email>epetoumenou@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μάριος Ζηντίλης</mal:name>
      <mal:email>m.zindilis@dmajor.org</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μαρία Θουκυδίδου</mal:name>
      <mal:email>marablack3@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gnome.org</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

<title>Βοήθεια</title>

<p>Οι χρήστες μερικές φορές χρειάζονται μια μικρή βοήθεια, ακόμα και με τις άριστα σχεδιασμένες εφαρμογές. Το GNOME παρέχει ένα ενσωματωμένο σύστημα βοήθειας θεματικά προσανατολισμένο χρησιμοποιώντας τη γλώσσα επισήμανσης <link href="http://projectmallard.org/">Mallard</link>. Οδηγημένο από προγραμματιστές του GNOME, η Mallard είναι μια έξυπνη και δυναμική γλώσσα που σας βοηθά να γράψετε και να διορθώσετε γρήγορα. Ο θεματικά προσανατολισμένος σχεδιασμός της σημαίνει ότι οι χρήστες σας μπορούν να βρουν τις απαντήσεις που χρειάζονται χωρίς να ανατρέξουν σε ένα εγχειρίδιο. Με το μοναδικό του σύστημα σύνδεσης και οργάνωσης, η Mallard είναι η μόνη γλώσσα που σχεδιάστηκε να χειρίζεται πρόσθετο και βοήθεια πωλητή σε ένα συνεκτικό έγγραφο.</p>

<p>Όταν χρειαζόσαστε εγχειρίδια, το GNOME επίσης υποστηρίζει το βιομηχανικής μορφής πρότυπο <link href="http://docbook.org/">DocBook</link>.</p>

<list style="compact">
  <item><p><link href="http://projectmallard.org/about/learn/tenminutes.html">Δεκάλεπτη περιήγηση στο Mallard</link></p></item>
  <item><p><link href="http://projectmallard.org/">Η ιστοσελίδα του Mallard</link></p></item>
  <item><p><link href="http://docbook.org/">Η ιστοσελίδα του DocBook</link></p></item>
</list>
</page>
