<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-gio-network" xml:lang="el">

  <info>
    <link type="guide" xref="tech" group="gio-network"/>
    <revision pkgversion="3.0" date="2011-04-05" status="review"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Δικτύωση και υποδοχές API με ροές</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ελληνική μεταφραστική ομάδα GNOME</mal:name>
      <mal:email>team@gnome.gr</mal:email>
      <mal:years>2010-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2012-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Τζένη Πετούμενου</mal:name>
      <mal:email>epetoumenou@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μάριος Ζηντίλης</mal:name>
      <mal:email>m.zindilis@dmajor.org</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μαρία Θουκυδίδου</mal:name>
      <mal:email>marablack3@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gnome.org</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

<title>Δικτύωση GIO</title>

  <p>Η δικτύωση GIO δομείται πάνω από τις APIs της ροής <link xref="tech-gio">που χρησιμοποιούνται για αρχεία</link>. Παρέχει APIs υψηλού επιπέδου για επικοινωνία μέσα από υποδοχές τομέα TCP/IP και UNIX. Μπορείτε να χρησιμοποιήσετε τις APIs δικτύωσης GIO για σύνδεση σε έναν διακομιστή, ακρόαση για συμβάντα και ανάγνωση πόρων. Η ασύγχρονη API σημαίνει ότι η εφαρμογή σας δεν φράσσει την αναμονή για μια απάντηση από το δίκτυο.</p>

<list style="compact">
  <item><p><link href="http://developer.gnome.org/gio/stable/">Εγχειρίδιο αναφοράς του GIO</link></p></item>
  <item><p><link href="http://developer-next.gnome.org/gio/stable/networking.html">Χαμηλού επιπέδου υποστήριξη δικτύου</link></p></item>
  <item><p><link href="http://developer-next.gnome.org/gio/stable/highlevel-socket.html">Υψηλού επιπέδου λειτουργικότητα δικτύου</link></p></item>
</list>

</page>
