<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="tour-gjs" xml:lang="el">

  <info>
    <link type="next" xref="tour-events"/>
    <revision version="0.1" date="2013-06-17" status="stub"/>

    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="author copyright">
      <name>Gordon Hill</name>
      <email its:translate="no">caseyweederman@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Συμπεριλάβετε τις απαραίτητες συνδέσεις για να εκτελέσετε το σενάριό σας.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ελληνική μεταφραστική ομάδα GNOME</mal:name>
      <mal:email>team@gnome.gr</mal:email>
      <mal:years>2010-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2012-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Τζένη Πετούμενου</mal:name>
      <mal:email>epetoumenou@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μάριος Ζηντίλης</mal:name>
      <mal:email>m.zindilis@dmajor.org</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μαρία Θουκυδίδου</mal:name>
      <mal:email>marablack3@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gnome.org</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Gjs και Gtk</title>
  <links type="prevnext" style="top"/>
  <links type="series" style="floatend">
    <title>Ξεκινώντας με το GNOME</title>
  </links>

  <p>Το <link href="https://wiki.gnome.org/Projects/Gjs">Gjs</link> είναι μια σύνδεση JavaScript για το GNOME που μπορεί να χρησιμοποιηθεί για να αλληλεπιδράσει με το Gtk. Το <link href="http://www.gtk.org/">Gtk</link> είναι ένα πακέτο εργαλείων για τη δημιουργία γραφικών διεπαφών χρήστη.</p> <p>Ανοίξτε έναν επεξεργαστή κειμένου και επικολλήστε τις γραμμές του κώδικα. Η πλήρης δέσμη ενεργειών είναι διαθέσιμη στην <link xref="tour-summary">περίληψη</link>.</p> <p>Δημιουργήστε ένα <code>αντικείμενο</code> χρησιμοποιώντας την <code>κλάση</code> σας και καλέστε τη μέθοδο <code>run()</code>:</p> <example>
  <p>Καλέστε τη σύνδεση JavaScript Gjs. Αυτή πληροφορεί το κέλυφος για να εκτελέσει αυτό το σενάριο με Gjs.</p>

  <code>
#!/usr/bin/gjs
</code>

  <p>Import <code>gi.Gtk</code> for <code>Gtk</code> functions. As both
  version 3.0 and 4.0 may be installed, make sure that the desired version
  is imported first.</p>

  <code><![CDATA[
imports.gi.versions.Gtk = '3.0';
const Gtk = imports.gi.Gtk;
]]></code>
</example>
  <links type="prevnext"/>
</page>
