<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-gio-network" xml:lang="gl">

  <info>
    <link type="guide" xref="tech" group="gio-network"/>
    <revision pkgversion="3.0" date="2011-04-05" status="review"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Networking and sockets API with streams</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Diéguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2009-2020.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leandro Regueiro</mal:name>
      <mal:email>leandro.regueiro@gmail.com</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  </info>

<title>Redes GIO</title>

  <p>Construída sobre as API de fluxo usadas para os ficheiros, GIO fornece varias API de rede de alto nivel para comunicarse sobre TCP/IP e sockets de dominio de UNIX. Tamén pode usar as API de rede de GIO para conectarse a un servidor, escoitar eventos e ler recursos. A API asíncronica significa que na súa aplicación non se bloqueará ao agardar por unha resposta.</p>

<list style="compact">
  <item><p><link href="https://developer.gnome.org/gio/stable/">GIO Reference Manual</link></p></item>
  <item><p><link href="https://developer.gnome.org/gio/stable/networking.html">Lowlevel network support</link></p></item>
  <item><p><link href="https://developer.gnome.org/gio/stable/highlevel-socket.html">Highlevel network functionality</link></p></item>
</list>

</page>
