<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-glib" xml:lang="sv">

  <info>
    <link type="guide" xref="tech" group="glib"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Datastrukturer och hjälpverktyg för C-program</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2017, 2018</mal:years>
    </mal:credit>
  </info>

<title>GLib</title>

  <p>GLib är det mest grundläggande av alla GNOME-bibliotek. Det tillhandahåller enkla datastrukturer för C-program (länkade listor, binärträd, hashtabeller) och diverse verktyg så som funktioner för strängmanipulation.</p>

  <p>Om du inte skriver C-program behöver du vanligen inte bry dig om GLib. Om du gör det kommer dock GLib att göra ditt liv som C-programmerare mycket enklare.</p>

  <list style="compact">
    <item><p><link href="http://developer.gnome.org/glib/stable/">GLib-referenshandbok</link></p></item>
  </list>

</page>
