<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-notify" xml:lang="sv">

  <info>
    <link type="guide" xref="tech" group="notify"/>
    <revision pkgversion="3.0" date="2011-04-05" status="incomplete"/>

    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
      <years>2011</years>
    </credit>
    <credit type="copyright editor">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Interaktiva aviseringar i skrivbordets meddelandefält</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2017, 2018</mal:years>
    </mal:credit>
  </info>

<title>Notify</title>

  <p>Libnotify tillhandahåller ett API för att presentera aviseringar till användaren. Aviseringar kan vara enkla meddelanden, eller så kan de låta användaren svara. Till exempel använder Empathy (GNOME:s programvara för snabbmeddelanden) aviseringar för att berätta för användaren när ett snabbmeddelande har anlänt. Aviseringar som görs med Libnotify kommer använda det lämpliga gränssnittet för miljön som programmet körs i: i GNOME 3 visas aviseringar längst ner på skärmen och stoppas sedan i meddelandefältet, medan andra skrivbordsskal kan välja att visa dem på något annat sätt.</p>

  <list style="compact">
    <item><p><link href="http://developer.gnome.org/libnotify/unstable/">Libnotify-referenshandbok</link></p></item>
  </list>

</page>
