<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="sidebar-lists" xml:lang="ru">

  <info>
    <link type="guide" xref="patterns#secondary"/>
    <desc>Navigation sidebar that contains a list</desc>
    <credit type="author">
      <name>Алан Дэй (Allan Day)</name>
      <email>aday@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Боковые списки</title>

<media type="image" mime="image/svg" src="figures/patterns/sidebar-list.svg"/>

<p>Боковые списки позволяют переключаться между различными областями просмотра. Эти области просмотра могут содержать группы объектов, отдельные объекты или наборы управляющих элементов. Боковая панель разбивает окно на две части, содержимое находится в противоположной панели от боковой.</p>

<p>Списки боковой панели используются в главных окнах, они могут быть открыто постоянно либо временно. Их также можно применять в диалоговых окнах.</p>

<p>Списки боковой панели можно использовать совместно с шаблонами <link xref="search">поиска</link> и <link xref="selection-mode">режима выделения</link>.</p>

<section id="when-to-use">
<title>Когда использовать</title>

<p>Используйте списки боковой панели, когда количество областей просмотра больше, чем может поместиться в стандартном <link xref="view-switchers">переключателе областей</link>.</p>

<p>Списки боковой панели могут заменить навигацию в браузерном стиле. При этом они обладают следующими преимуществами:</p>

<list>
<item><p>Если объекты имеют небольшую ширину и не требуют иммерсивного использования. По этой причине боковая панель не подходит для навигации по видео, но хорошо подходит для контактов.</p></item>
<item><p>Для динамических объектов. Для приложений обмена сообщениями, когда появляются новые объекты или обновляются старые. С помощью списков боковой панели можно одновременно наблюдать за отдельным объектом и за обновлением всего списка сообщений.</p></item>
<item><p>Когда можно фильтровать набор объектов и таких фильтров много.</p></item>
</list>

<p>Для определённых областей просмотра в вашем приложении можно показывать списки временной боковой панели.</p>

</section>

<section id="guidelines">
<title>Рекомендации</title>

<list>
<item><p>Располагайте список так, чтобы его порядок был наиболее удобен для подавляющего большинства пользователей вашего приложения. Последние обновлённые объекты, часто, лучше всего располагаться в верхней части списка.</p></item>
<item><p>Элементы управления заголовочной панели, которые затрагивают списки боковой панели, должны располагаться в границах боковой панели. Управляющие элементы для поиска и выделения должны располагаться над списком.</p></item>
<item><p>Любая строка в списке может состоять из нескольких строк текста и изображений. При этом наиболее важная информация не должна теряться. Списки боковой панели должны иметь простой и привлекательный внешний вид.</p></item>
</list>

</section>

<section id="api-reference">
<title>API reference</title>
<list>
<item><p><link href="https://developer.gnome.org/gtk3/stable/GtkListBox.html">GtkListBox</link></p></item>
<item><p><link href="https://developer.gnome.org/gtk3/stable/GtkScrolledWindow.html">GtkScrolledWindow</link></p></item>
<item><p><link href="https://developer.gnome.org/gtk3/stable/GtkStackSidebar.html">GtkStackSidebar</link></p></item>
</list>
</section>

</page>
