<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="dev-translate-setup" xml:lang="pt-BR">

  <info>
    <link type="next" xref="dev-translate-build"/>
    <revision version="0.1" date="2013-06-19" status="review"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2013, 2014, 2016, 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Isaac Ferreira Filho</mal:name>
      <mal:email>isaacmob@riseup.net</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

  <title>Marcando mensagens para tradução</title>

  <links type="series" style="floatend">
    <title>Configurando traduções</title>
  </links>

  <p>Antes que as mensagens de seu aplicativo possam ser traduzidas, elas precisam ser extraídas do código-fonte.</p>

  <p>Envolva as mensagens ou <em>textos literais</em> em seu código com a macro '<code>_()</code>'.</p>

  <note>
    <p>No C, essa macro está definida no arquivo header <file>glib/gi18n.h</file>, o qual deve ser incluído no topo do fonte de seu aplicativo.</p>
  </note>

  <p>Suas mensagens evoltas pela macro devem se parecer com isso:</p>
  <code>_(“Press a key to continue”)</code>

  <p>Isso marca as mensagens como traduzíveis e, em tempo de execução, chama <app>gettext</app> para substituir as mensagens traduzidas.</p>

</page>
