<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-gda" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="tech" group="gda"/>
    <revision pkgversion="3.0" date="2011-04-05" status="incomplete"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Acesso unificado a banco de dados relacionais</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2013, 2014, 2016, 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Isaac Ferreira Filho</mal:name>
      <mal:email>isaacmob@riseup.net</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

<title>GNOME Data Access</title>

<p>GNOME Data Access, abreviado como GDA, oferece uma interface para banco de dados relacionais, que lhe permite armazenar e obter dados facilmente em muitos sistemas de banco de dados comuns.</p>

<p>Em vez de se preocupar cin os caprichos de diferentes sistemas de banco de dados, GDA fornece uma interface unificada para eles. GDA oferece suporte a SQLite, MySQL, PostreSQL, Microsoft Access, Berkley DB, Oracle e JDBC.</p>


<list style="compact">
  <item><p><link href="https://developer.gnome.org/libgda/stable/">Manual do GNOME Data Access</link></p></item>
  <item><p><link href="http://www.gnome-db.org/">Página do GDA</link></p></item>
</list>

</page>
