<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-packagekit" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="tech" group="packagekit"/>

    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
      <years>2011–2012</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Instalação e gerenciamento de software</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2013, 2014, 2016, 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Isaac Ferreira Filho</mal:name>
      <mal:email>isaacmob@riseup.net</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

<title>PackageKit</title>

  <p>PackageKit permite que aplicativos consultem se outros pacotes estão instalados, independentemente da distribuição GNU/Linux na qual eles estão sendo executados. Se seu aplicativo precisa de um pacote extra para ser instalado em tempo real, ele pode pedir que PackageKit baixo e instale-o. Por exemplo, um aplicativo de multimídia pode precisar baixar um codec, ou um programa de ilustração pode precisar baixar fontes conforme necessário.</p>

  <p>Vários aplicativos do GNOME usam PackageKit em situações similares. Totem, o reprodutor de mídia, usa PackageKit para requisitar instalação de codecs quando ele tenta reproduzir um arquivo de mídia que ele não reconhece. System-config-printer, um programa para configurar impressoras quando elas estão conectadas, usa PackageKit para baixar e instalar drivers de impressoras conforme necessário.</p>

  <list style="compact">
    <item><p><link href="http://www.packagekit.org/">Página do PackageKit</link></p></item>
  </list>

</page>
