<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="index" xml:lang="sl">

  <info>
    <license>
      <p>Permission is granted to copy, distribute and/or modify this document
      under the terms of the GNU Free Documentation License, Version 1.1 or any
      later version published by the Free Software Foundation with no Invariant
      Sections, no Front-Cover Texts, and no Back-Cover Texts. You may obtain a
      copy of the GNU Free Documentation License from the Free Software
      Foundation by visiting <link href="http://www.fsf.org">their Web
      site</link> or by writing to: Free Software Foundation, Inc., 51 Franklin
      Street, Fifth Floor Boston, MA 02110-1335, USA.</p>

      <p>Many of the names used by companies to distinguish their products and
      services are claimed as trademarks. Where those names appear in any
      GNOME documentation, and those trademarks are made aware to the members
      of the GNOME Documentation Project, the names have been printed in caps
      or initial caps.</p>
    </license>

    <credit type="author copyright">
      <years>2004-2005</years>
      <name>Callum McKenzie</name>
    </credit>
    <credit type="author copyright">
      <years>2004-2005</years>
      <name>Robert Love</name>
    </credit>

    <desc>Software can be optimized in many ways: for speed, program size, or memory use. This section contains guides and tutorials for optimizing your software.</desc>
  </info>

  <title>Optimization Guide</title>

  <section id="intro" style="2column">
     <title>Introduction</title>
     <p>This is a brief introduction to optimization, both the hows and
     the whys. Details of individual tools and techniques are left for later
     articles, but a collection of hints and tricks is provided.</p>
  </section>

  <section id="massif" style="2column">
     <title>Massif</title>
     <p>This article describes how to use the <app>Massif</app> heap profiler
     with GNOME applications. We describe how to invoke, interpret, and act on
     the output of <app>Massif</app>. The <app>Swell Foop</app> game is used as
     an example.</p>
  </section>

  <section id="harm" style="2column">
     <title>Harmfulness</title>
     <p>Disk seeks are one of the most expensive operations you can possibly
     perform. You might not know this from looking at how many of them we
     perform, but trust me, they are. Consequently, please refrain from the
     following suboptimal behavior:</p>
  </section>

</page>
