<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-telepathy" xml:lang="cs">

  <info>
    <link type="guide" xref="tech" group="telepathy"/>
    <revision pkgversion="3.0" date="2011-04-05" status="incomplete"/>

    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
      <years>2011 – 2012</years>
    </credit>
    <credit type="copyright editor">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Jednotné služby rychlé komunikace a komunikace po síti obecně</desc>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Lucas Lommer</mal:name>
      <mal:email>llommer@svn.gnome.org</mal:email>
      <mal:years>2009.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<title>Telepathy</title>

  <p>Telepathy poskytuje mocnou konstrukci pro práci s kontakty uživatele používanými k rychlé komunikaci. Pomocí Telepathy se se všemi účty a připojeními pracuje přes službu sezení <link xref="tech-d-bus">D-Bus</link>, která je hluboce zaintegrovaná do pracovního prostředí GNOME. Aplikace se mohou připojit k této službě, aby měly ke kontaktům přístup.</p>

<p>Pomocí API Telepathy Tubes můžete tunelovat libovolný protokol skrz moderní protokoly rychlé komunikace, jako je Jabber, a vytvářet tak interaktivní aplikace. Můžete vytvořit hry pro více hráčů nebo editory umožňující úpravy více lidem naráz, které budou mít integrovány služby rychlé komunikace fungující napříč celým systémem.</p>

<list style="compact">
  <item><p><link href="http://telepathy.freedesktop.org/doc/book/">Vývojářská příručka Telepathy</link></p></item>
  <item><p><link href="http://telepathy.freedesktop.org">Webové stránky Telepathy</link></p></item>

</list>

</page>
