<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-packagekit" xml:lang="cs">

  <info>
    <link type="guide" xref="tech" group="packagekit"/>

    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
      <years>2011 – 2012</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Instalace a správa softwaru</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Lucas Lommer</mal:name>
      <mal:email>llommer@svn.gnome.org</mal:email>
      <mal:years>2009.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<title>PackageKit</title>

  <p>PackageKit umožňuje aplikacím dotazovat se, jestli je nějaký balíček nainstalován, bez ohledu na které konkrétní distribuci GNU/Linux běží. Pokud vaše aplikace vyžaduje instalaci nějakého dodatečného balíčku za běhu, může požádat PackageKit o jeho stažení a instalaci. Například multimediální aplikace může potřebovat stáhnout kodek nebo ilustrační program může potřebovat stáhnout písmo.</p>

  <p>Různé aplikace GNOME používají PackageKit v podobných situacích. Multimediální přehrávat <app>Totem</app> používá PackageKit k instalaci kodeků, když zkusíte přehrát multimediální soubor, který nerozpozná. Program pro nastavení tiskáren <app>system-config-printer</app>, který reaguje na připojení tiskárny k počítači, používá PackageKit ke stažení a instalaci potřebných ovladačů.</p>

  <list style="compact">
    <item><p><link href="http://www.packagekit.org/">Domovská stránka PackageKit</link></p></item>
  </list>

</page>
