<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:xi="http://www.w3.org/2001/XInclude" type="guide" style="task" id="scrolledwindow.vala" xml:lang="sv">
  <info>
  <title type="text">ScrolledWindow (Vala)</title>
    <link type="guide" xref="beginner.vala#scrolling"/>
    <link type="seealso" xref="image.vala"/>
    <revision version="0.1" date="2012-06-08" status="draft"/>

    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email its:translate="no">tiffany.antopolski@gmail.com</email>
      <years>2012</years>
    </credit>

    <desc>Lägger till rullningslister till sin barnkomponent</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sebastian Rasmussen</mal:name>
      <mal:email>sebras@gmail.com</mal:email>
      <mal:years>2019</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2021</mal:years>
    </mal:credit>
  </info>

  <title>ScrolledWindow</title>
  <media type="image" mime="image/png" src="media/scrolledwindow.png"/>
  <p>En bild i ett rullat fönster.</p>

<code mime="text/x-csharp" style="numbered">/* Det här är programmet. */
public class MyApplication : Gtk.Application {
	/* Åsidosätt ”activate”-signalen för GLib.Application. */
	protected override void activate () {
		/* Skapa fönstret för detta program. */
		var window = new Gtk.ApplicationWindow (this);
		window.title = "ScrolledWindow-exempel";
		window.set_default_size (200, 200);

		var scrolled_window = new Gtk.ScrolledWindow (null, null);
		scrolled_window.set_border_width (10);
		scrolled_window.add_with_viewport (new Gtk.Image.from_file ("gnome-image.png"));
		scrolled_window.set_policy (Gtk.PolicyType.AUTOMATIC, Gtk.PolicyType.AUTOMATIC);

		window.add (scrolled_window);
		window.show_all ();
	}
}

/* main skapar och kör programmet. */
public int main (string[] args) {
	return new MyApplication ().run (args);
}
</code>
<p>I detta exempel använde vi följande:</p>
<list>
  <item><p><link href="http://www.valadoc.org/gtk+-3.0/Gtk.ScrolledWindow.html">Gtk.ScrolledWindow</link></p></item>
  <item><p><link href="http://www.valadoc.org/gtk+-3.0/Gtk.PolicyType.html">Gtk.PolicyType</link></p></item>
</list>
</page>
