<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-canberra" xml:lang="ca">

  <info>
    <link type="guide" xref="tech" group="canberra"/>
    <revision pkgversion="3.0" date="2011-04-05" status="incomplete"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>API d'àudio simple per notificacions i esdeveniments</desc>
</info>

<title>Canberra</title>

<p>La Canberra és una biblioteca simple per reproduir esdeveniments d'àudio i notificacions, com ara quan l'usuari rep un missatge o es produeix un error. A més a més de proporcionar una API adequada, la Canberra també s'integra amb les funcions d'accessibilitat de l'escriptori per proporcionar notificacions alternatives per a persones sordes.</p>

<list style="compact">
  <item><p><link href="https://developer.gnome.org/libcanberra/unstable/">Canberra Reference</link></p></item>
</list>

</page>
