<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:ui="http://projectmallard.org/experimental/ui/" type="guide" id="index" xml:lang="de">
<info>
  <credit type="author">
    <name>GNOME-Dokumentationsteam</name>
    <email its:translate="no">gnome-doc-list@gnome.org</email>
    <years>2010, 2011</years>
  </credit>
  <credit type="author">
    <name>Shaun McCance</name>
    <email its:translate="no">shaunm@gnome.org</email>
    <years>2010</years>
  </credit>
  <credit type="author">
    <name>Johannes Schmid</name>
    <email its:translate="no">jhs@gnome.org</email>
    <years>2011</years>
  </credit>
  <credit type="editor">
    <name>Tiffany Antopolski</name>
    <email its:translate="no">tiffany.antopolski@gmail.com</email>
  </credit>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2013, 2016, 2018, 2021</mal:years>
    </mal:credit>
  </info>

<title>Demos zur GNOME-Entwicklerplattform</title>

<p>This guide includes a variety of coding examples, such writing an image 
viewer or weather application. Each demo comes with code that you can try, and 
explains how each example works. They are a great way to get started with 
the GNOME developer platform.</p>

 <section id="tutorials" style="2column">
  <title>Pick a Language</title>
  <p>These developer demos are available in a range of programming languages. 
  Pick one to get started:</p>
 </section>

</page>
