<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-pulseaudio" xml:lang="es">

  <info>
    <link type="guide" xref="tech" group="pulseaudio"/>

    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
      <years>2011</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>API de sonido de bajo nivel</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011-2019</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Carrión</mal:name>
      <mal:email>mario@monouml.org</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>

<title>PulseAudio</title>

  <p>PulseAudio es la API de sonido de bajo nivel de GNOME. Es lo que se sitúa entre las aplicaciones y la API de sonido del núcleo. PulseAudio le permite redireccionar el sonido a través de la red, o a un dispositivo Bluetooth. Puede mezclar varias fuentes de sonido, o cambiar la frecuencia de muestreo de un flujo de sonido.</p>

  <p>Todas las partes de GNOME que generan sonido usan PulseAudio de una u otra forma, directa o indirectamente mediante API de manipulación de sonido de alto nivel como <link xref="tech-gstreamer">GStreamer</link>.</p>

  <list style="compact">
    <item><p><link href="http://www.freedesktop.org/wiki/Software/PulseAudio">Página web de PulseAudio</link></p></item>
  </list>

</page>
