<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-webkit" xml:lang="es">

  <info>
    <link type="guide" xref="tech" group="webkit"/>
    <revision pkgversion="3.0" date="2011-04-05" status="incomplete"/>

    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
      <years>2011</years>
    </credit>
    <credit type="copyright editor">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Renderizado de páginas web en HTML5</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011-2019</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Carrión</mal:name>
      <mal:email>mario@monouml.org</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>

<title>WebKit</title>

  <p>WebKit is a powerful, multi-platform HTML engine used in open source and
  commercial/proprietary products alike. WebKitGTK is the port of WebKit built
  on <link xref="tech-gtk">GTK</link> and integrated into the GNOME developer
  platform. WebKitGTK is developed upstream as part of the main WebKit
  project, so it's always up to date with the latest HTML5 features.</p>

<p>WebKitGTK makes it easy to add web functionality to your
application, or to use HTML5 and associated technologies to
create dynamic user interfaces quickly.</p>

<list style="compact">
  <item><p><link href="http://developer.gnome.org/gnome-devel-demos/stable/message-board.c.html">WebKitGTK demo tutorial</link></p></item>
  <item><p><link href="http://webkitgtk.org/reference/webkit2gtk/stable/">Manual de referencia de WebKitGTK</link></p></item>
  <item><p><link href="http://webkitgtk.org/">El sitio web de WebKitGTK+</link></p></item>
</list>

</page>
