<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-gda" xml:lang="es">

  <info>
    <link type="guide" xref="tech" group="gda"/>
    <revision pkgversion="3.0" date="2011-04-05" status="incomplete"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Acceso unificado a bases de datos relacionales</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011-2019</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Carrión</mal:name>
      <mal:email>mario@monouml.org</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>

<title>Acceso a datos de GNOME</title>

<p>Acceso a datos de GNOM (GDA) ofrece un envoltorio sobre base bases de datos relacionales, permitiéndole almacenar y recuperar fácilmente datos de diferentes sistemas de bases de datos comunes.</p>

<p>En lugar de preocuparse por la variedad de diferentes sistemas de bases de datos, GDA proporciona una interfaz unificada para soportarlos. GDA soporta SQLite, MySQL, PostreSQL, Microsoft Access, Berkeley DB, Oracle, y JDBC.</p>


<list style="compact">
  <item><p><link href="https://developer.gnome.org/libgda/stable/">Manual de acceso a datos de GNOME</link></p></item>
  <item><p><link href="http://www.gnome-db.org/">Página web de GDA</link></p></item>
</list>

</page>
