<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="tech" xml:lang="it">
  <info>
    <revision version="0.1" date="2012-02-19" status="stub"/>
    <link type="guide" xref="index" group="tech"/>

    <credit type="author copyright">
      <name>Phil Bull</name>
      <email its:translate="no">philbull@gmail.com</email>
      <years>2012</years>
    </credit>

    <desc>See a list of all of the development libraries in GNOME.</desc>
  </info>

<title>Platform libraries</title>

<p>The GNOME platform is a rich collection of libraries.  This is a
list of all the platform libraries in GNOME, sorted by purpose.</p>

<links type="topic" style="linklist" groups="gtk gdk cairo pango clutter webkit atk">
  <title>User interface and display</title>
</links>

<links type="topic" style="linklist" groups="eds gsettings secret gda tracker">
  <title>Storage of the user's data</title>
</links>

<links type="topic" style="linklist" groups="gio">
  <title>File access</title>
</links>

<links type="topic" style="linklist" groups="gio-network soup avahi gupnp network-manager">
  <title>Networking</title>
</links>

<links type="topic" style="linklist" groups="help spell-checking packagekit notify poppler telepathy folks">
  <title>Application support</title>
</links>

<links type="topic" style="linklist" groups="canberra gstreamer pulseaudio">
  <title>Multimedia</title>
</links>

<links type="topic" style="linklist" groups="d-bus polkit">
  <title>Inter-process communication</title>
</links>

<links type="topic" style="linklist" groups="champlain geoclue2 geocode-glib">
  <title>Geographical</title>
</links>

<links type="topic" style="linklist" groups="glib gobject">
  <title>Foundational C utilities and object system</title>
</links>

<!--
<links type="topic" style="linklist"
       groups="gtk clutter webkit gstreamer">
  <title>Graphics and Multimedia</title>
</links>

<links type="topic" style="linklist"
       groups="gio gio-network gsettings d-bus soup gupnp">
  <title>Core Application Support</title>
</links>


<links type="topic" style="linklist" groups="apps">
  <title>Application Technologies</title>
</links>

<links type="topic" style="linklist"
       groups="atk pango pulseaudio cairo gdk gobject glib">
  <title>Under the Hood</title>
</links>
 -->
</page>
