<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-eds" xml:lang="it">

  <info>
    <link type="guide" xref="tech" group="eds"/>
    <revision pkgversion="3.0" date="2011-04-05" status="candidate"/>

    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
      <years>2011–2012</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Desktop-wide address book for contacts and calendar</desc>
  </info>

<title>Evolution Data Server</title>

<p>With Evolution Data Server, GNOME provides a single address book and
calendar that all applications can use to store and retrieve information.
Using Evolution Data Server means that users no longer have to maintain
separate lists of contacts in each application, or manually copy events
to their calendar.</p>

<p>People use computers increasingly to interact with their friends
and colleagues.  Applications such as email programs, instant messengers,
and telephony and video conferencing applications are used to communicate
with others.  These applications often provide contact lists to help users.
Using Evolution Data Server, applications can store contact information in
a single location, allowing all applications to see all the pertinent data
about users' contacts.</p>

<p>Applications can also use Evolution Data Server to store and retrieve
appointments on the user's calendar.  For example, the clock on the panel
shows a simple calendar when clicked.  If the user has any appointments
scheduled, they are shown alongside the calendar.  This makes it easy to
see upcoming appointments without opening a full calendar application.</p>

<list style="compact">
  <item><p><link href="http://developer.gnome.org/libebook/stable/">Evolution API Reference: libebook</link></p></item>
  <item><p><link href="http://developer.gnome.org/libecal/stable/">Evolution API Reference: libecal</link></p></item>
</list>
</page>
