<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="dev-translate-setup" xml:lang="uk">

  <info>
    <link type="next" xref="dev-translate-build"/>
    <revision version="0.1" date="2013-06-19" status="review"/>

    <credit type="author copyright">
      <name>Майкл Гілл (Michael Hill)</name>
      <email its:translate="no">mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Максим Дзюманенко</mal:name>
      <mal:email>dziumanenko@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Позначення рядків для перекладу</title>

  <links type="series" style="floatend">
    <title>Налаштовування перекладів</title>
  </links>

  <p>Перш ніж рядки з вашої програми можна буде перекладати, їх слід видобути з початкового коду.</p>

  <p>Огорніть повідомлення або <em>рядкові літерали</em> у вашому коді у макрос «<code>_()</code>.</p>

  <note>
    <p>Для C цей макрос визначається у файлів заголовків <file>glib/gi18n.h</file>, який має бути включено на початку коду вашої програми.</p>
  </note>

  <p>Огорнуті рядки мають виглядати ось так:</p>
  <code>_("Press a key to continue")</code>

  <p>Таким чином рядки буде позначено як придатні до перекладу, під час роботи програми буде викликано <app>gettext</app> для заміни початкових рядків на переклади.</p>

</page>
