<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-folks" xml:lang="uk">

  <info>
    <link type="guide" xref="tech" group="folks"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Збирання записів контактів з декількох локальних джерел та джерел у мережі</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Максим Дзюманенко</mal:name>
      <mal:email>dziumanenko@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>Folks</title>

  <p>У різних системах передбачено різне представлення облікових записів користувачів. Наприклад, на <link xref="tech-eds">сервері даних Evolution</link> зберігається список контактів електронної пошти користувача. У <link xref="tech-telepathy">Telepathy</link> зберігається список контактів миттєвого обміну повідомленнями користувача. На різних вебслужбах зберігаються записи «друзів» користувача. Libfolks збирає усі ці форми запису контактів так, щоб зібрати дані усіх облікових записів, які належать одній особі. Це надає змогу програмному забезпеченню представляти списки у зручніший спосіб: немає дублювання записів осіб, які мають декілька різних облікових записів.</p>

  <p>У GNOME Empathy (програма для миттєвого обміну повідомленнями) використовує Folks для представлення уніфікованого перегляду записів осіб («Особа X має такі облікові записи миттєвого обміну повідомленнями»), замість поділу облікових записів однієї особи («Особу X зареєстровано AIM, особу X — на GTalk, особу X — на Yahoo! Messenger»).</p>

  <list style="compact">
    <item><p><link href="https://wiki.gnome.org/Projects/Folks">Домашня сторінка libfolks</link></p></item>
  </list>

</page>
