<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-canberra" xml:lang="uk">

  <info>
    <link type="guide" xref="tech" group="canberra"/>
    <revision pkgversion="3.0" date="2011-04-05" status="incomplete"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Простий звуковий програмний інтерфейс для сповіщень та подій</desc>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Максим Дзюманенко</mal:name>
      <mal:email>dziumanenko@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>Канберра</title>

<p>Canberra — проста бібліотека для відтворення звукових подій та сповіщень, зокрема при отриманні користувачем повідомлення або тоді, коли станеться помилка. Окрім забезпечення роботи зручного програмного інтерфейсу, Canberra може працювати із можливостями доступності стільничного середовища для забезпечення роботи альтернативної системи сповіщень для користувачів із вадами слуху.</p>

<list style="compact">
  <item><p><link href="https://developer.gnome.org/libcanberra/unstable/">Довідка з Canberra</link></p></item>
</list>

</page>
