<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-geoclue2" xml:lang="uk">

  <info>
    <link type="guide" xref="tech" group="geoclue2"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Геопозиціювання — пошук географічного розташування користувача</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Максим Дзюманенко</mal:name>
      <mal:email>dziumanenko@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>Geoclue2</title>

  <p>Geoclue2 надає доступ до служб <em>геопозиціювання</em>, тобто надає програма змогу визначати географічне місце перебування користувача. Наприклад, програма для роботи із мапами може використовувати ці дані для показу мапи прилеглої до вас території.</p>

  <p>Geoclue2 уможливлює надання даних щодо розташування у декілька способів: на основі даних GPS у модемі WWAN, на основі даних точки доступу Wi-Fi або на основі IP-адреси комп'ютера.</p>

  <p>Крім того, Geoclue2 забезпечує конфіденційність користувачів, які не хочуть надавати дані щодо власного місця перебування. Отримувати дані щодо геопозиціювання зможуть лише програми, яким це дозволено робити користувачем.</p>

</page>
