<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:e="http://projectmallard.org/experimental/" type="guide" style="task" id="beginner.py" xml:lang="cs">

<info>
  <title type="text">Ukázkový kód s widgety GTK+ (Python)</title>
  <link type="guide" xref="py#code-samples"/>
  <revision version="0.1" date="2012-07-31" status="draft"/>

  <desc>Příručka k programování GUI pomocí GTK+, včetně ukázek kódu a praktických cvičení.</desc>
  <credit type="author copyright">
    <name>Tiffany Antopolski</name>
    <email its:translate="no">tiffany.antopolski@gmail.com</email>
  </credit>
  <credit type="editor">
    <name>Marta Maria Casetti</name>
    <email its:translate="no">mmcasetti@gmail.com</email>
    <years>2013</years>
  </credit>
</info>

<title>Ukázkový kód s widgety GTK+</title>
<synopsis>
<p>Pokud jste začátečník a rádi byste průvodce, který by vám krok za krokem vysvětlil, co můžete dělat s GTK 3+, měli byste se podívat na stránku <link xref="tutorial.py"/>. Jestli hledáte konkrétní widget, hledejte jej ve spodní části stránky.</p>
</synopsis>

<links type="section"/>

  <section id="windows" style="2column"><title>Okna</title>
  </section>
  <section id="display-widgets" style="2column"><title>Zobrazovací widgety</title>
  </section>
  <section id="buttons" style="2column"><title>Tlačítka a přepínače</title>
  </section>
  <section id="entry" style="2column"><title>Vstupní pole pro čísla a text</title>
  </section>
  <section id="multiline" style="2column"><title>Víceřádkové editory textu</title>
  </section>
  <section id="menu-combo-toolbar" style="2column"><title>Nabídky, rozbalovací seznamy a nástrojové lišty</title>
  </section>
  <section id="treeview" style="2column"><title>Widget TreeView</title>
  </section>
  <section id="selectors" style="2column"><title>Widgety pro výběr</title>
    <section id="file-selectors" style="2column"><title>Výběr souborů</title>
    </section>
    <section id="font-selectors" style="2column"><title>Výběr písma</title>
    </section>
    <section id="color-selectors" style="2column"><title>Výběr barev</title>
    </section>
  </section>
  <section id="layout" style="2column"><title>Kontejnery vytvářející rozvržení</title>
  </section>
  <section id="ornaments" style="2column"><title>Zdobení</title>
  </section>
  <section id="scrolling" style="2column"><title>Posouvání</title>
  </section>
  <section id="misc" style="2column"><title>Různé</title>
  </section>

<section id="theory">
<title>Stránky s teorií</title>
</section>

</page>
