<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:xi="http://www.w3.org/2001/XInclude" type="guide" style="task" id="checkbutton.c" xml:lang="cs">
  <info>
    <title type="text">CheckButton (C)</title>
    <link type="guide" xref="c#buttons"/>
    <revision version="0.1" date="2012-05-31" status="draft"/>

    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email its:translate="no">tiffany.antpoolski@gmail.com</email>
      <years>2012</years>
    </credit>

    <desc>Vytvoří widget s dvoustavovým přepínacím tlačítkem</desc>
  </info>

  <title>CheckButton</title>
  <media type="image" mime="image/png" src="media/checkbutton.png"/>
  <p>Toto zaškrtávací políčko CheckButton přepíná nadpis.</p>

<code mime="text/x-csrc" style="numbered">#include &lt;gtk/gtk.h&gt;

/* Zpracování signálu pro signál "toggled" widgetu CheckButton */
static void
toggled_cb (GtkToggleButton *toggle_button,
            gpointer         user_data)
{
  GtkWindow *window = user_data;

  if (gtk_toggle_button_get_active (toggle_button))
      gtk_window_set_title (window, "CheckButton Example");
  else
      gtk_window_set_title (window, "");
}

static void
activate (GtkApplication *app,
          gpointer        user_data)
{
  GtkWidget *window;
  GtkWidget *checkbutton;

  window = gtk_application_window_new (app);
  gtk_window_set_title (GTK_WINDOW (window), "CheckButton Example");
  gtk_window_set_default_size (GTK_WINDOW (window), 300, 100);

  checkbutton = gtk_check_button_new_with_label ("Show Title");
  gtk_toggle_button_set_active (GTK_TOGGLE_BUTTON (checkbutton), TRUE);
  g_signal_connect (GTK_TOGGLE_BUTTON (checkbutton), "toggled", G_CALLBACK (toggled_cb), window);
  gtk_container_add (GTK_CONTAINER (window), checkbutton);
  gtk_widget_show_all (window);
}

int
main (int argc, char **argv)
{
  GtkApplication *app;
  int status;

  app = gtk_application_new ("org.example.checkbutton", G_APPLICATION_FLAGS_NONE);
  g_signal_connect (app, "activate", G_CALLBACK (activate), NULL);
  status = g_application_run (G_APPLICATION (app), argc, argv);
  g_object_unref (app);

  return status;
}
</code>
<p>V této ukázce se používá následující:</p>
<list>
  <item><p><link href="http://developer.gnome.org/gtk3/3.2/GtkCheckButton.html">GtkCheckButton</link></p></item>
</list>
</page>
