<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="dev-translate-setup" xml:lang="ko">

  <info>
    <link type="next" xref="dev-translate-build"/>
    <revision version="0.1" date="2013-06-19" status="review"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2016, 2017, 2018.</mal:years>
    </mal:credit>
  </info>

  <title>번역용 문자열 표시</title>

  <links type="series" style="floatend">
    <title>번역 설정</title>
  </links>

  <p>프로그램에서 문자열을 번역할 수 있게 하려면, 소스 코드에서 추려내야합니다.</p>

  <p>메시지 또는 <em>있는 그대로의 문자열</em>을 '<code>_()</code>' 매크로로 감싸십시오.</p>

  <note>
    <p>C 프로그래밍 언어용으로는, 프로그램 소스 코드의 최상단에 넣어야 하는 <file>glib/gi18n.h</file> 헤더 파일에 정의했습니다.</p>
  </note>

  <p>매크로로 감싼 문자열은 다음과 같습니다:</p>
  <code>_("Press a key to continue")</code>

  <p>번역 가능한 문자열임을 나타내며, 실행 시간에 <app>gettext</app>를 호출하여 번역한 문자열로 바꿉니다.</p>

</page>
