<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="dev-launching-mime" xml:lang="ko">

  <info>
    <revision version="0.1" date="2014-01-28" status="draft"/>

    <credit type="author">
      <name>David King</name>
      <email its:translate="no">davidk@gnome.org</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2016, 2017, 2018.</mal:years>
    </mal:credit>
  </info>

  <title>MIME 형식 넣기</title>

  <links type="series" style="floatend">
    <title>프로그램 실행</title>
  </links>

  <p>MIME 형식으로 프로그램 파일 형식을 연결합니다.</p>

  <p>프로그램에서 PNG 그림 같은 개별 형식을 열 경우 파일의 MIME 형식으로 연결할 수 있습니다. 이렇게 하면 desktop 파일에 들어갑니다.</p>

  <example>
    <listing>
      <title><file>myapplication.desktop</file></title>
<code>[Desktop Entry]
Name=My Application
Exec=myapplication
Type=Application
MimeType=image/png</code>
    </listing>
  </example>

  <p>어떤 프로그램이 있다 가정하고, <code>image/png</code>를 지원 MIME 형식으로 나타냈습니다.</p>

  <p>Custom MIME types can be added to the system-wide MIME database, but this
  is outside the scope of this guide. See the
  <link href="http://standards.freedesktop.org/shared-mime-info-spec/latest/">Shared
  MIME-Info Database</link> specification for more details.</p>

</page>
