<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-folks" xml:lang="ko">

  <info>
    <link type="guide" xref="tech" group="folks"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>로컬 및 여러 온라인 공급자의 연락처를 수집합니다</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2016, 2017, 2018.</mal:years>
    </mal:credit>
  </info>

<title>folks</title>

  <p>다양산 시스템의 사용자 계정은 각기 다른 모양새를 지닙니다. 이를테면, <link xref="tech-eds">에볼루션 데이터 서버</link>에는 사용자의 전자메일 주소 목록을 보유합니다. <link xref="tech-telepathy">텔레파시</link>에는 사용자의 인스턴트 메시징 연락처가 있습니다. 다양한 웹 서비스에는 사용자의 "친구" 항목이 있습니다. libforks에는 이 양식의 내용을 수집하여 한 사람이 가진 모든 계정을 취할 수 있습니다. 이렇게 하면, 하나 이상의 계정에 있는 중복 연락처를 나타내지 않고, 더 쓸 만한 방식으로 프로그램에 사용자 목록을 나타낼 수 있습니다.</p>

  <p>그놈에서는 엠퍼시(인스턴트 메신저 클라이언트)에서 동일한 사람의 계정을 개별적으로 표시("Person X at AIM, Person X at GTalk, Person X at Yahoo! Messenger")하는 대신, folks를 활용하여 구성원 정보를 하나("Person X has these IM accounts")로 나타냅니다.</p>

  <list style="compact">
    <item><p><link href="https://wiki.gnome.org/Projects/Folks">libfolks 홈 페이지</link></p></item>
  </list>

</page>
