<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-gupnp" xml:lang="ko">

  <info>
    <link type="guide" xref="tech" group="gupnp"/>
    <revision pkgversion="1.0" date="2011-05-17" status="candidate"/>

    <credit type="author copyright">
      <name>Zeeshan Ali(Khattak)</name>
      <email its:translate="no">zeeshanak@gnome.org</email>
      <years>2011</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>무선, 종단간, 플러그-앤-플레이 RPC</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2016, 2017, 2018.</mal:years>
    </mal:credit>
  </info>

<title>GUPnP</title>

  <p>가정 로컬 네트워크 지원 장치를 활용할 수 있는 많은 "소비자 전자" 장치 및 프로토콜을 통한 서비스 탐색 과정을 UPnP(통합 플러그 앤 플레이)라고 합니다. GUPnP는 그놈 프로그램이 네트워크의 UPnP 장치를 발견하고 자체 서비스를 제공할 수 있게 합니다.</p>

  <p>DLNA는 장치에서 표준 형식 멀티미디어 컨텐트를 공유하는 표준 집합입니다. GNPnP는 미디어 프로파일 예측, 주어진 프로파일로의 트랜스코딩 등 DLNA 관련 동작을 수행할 수 있습니다.</p>

  <p>그놈에서 GUPnP는 홈 미디어 서버 라이겔과 같은 가정용 멀티미디어 프로그램의 기본 기반 중 하나입니다.</p>

  <list style="compact">
    <item><p><link href="http://www.gupnp.org">GUPnP 홈 페이지</link></p></item>
  </list>

</page>
