<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-glib" xml:lang="oc">

  <info>
    <link type="guide" xref="tech" group="glib"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Data structures and utilities for C programs</desc>
  </info>

<title>GLib</title>

  <p>
    GLib is the most fundamental of all the GNOME libraries.  It provides
    simple data structures for C programs (linked lists, binary trees, hash
    tables) and various utilities such as string manipulation functions.
  </p>

  <p>
    If you are not writing C programs, you normally don't need to be concerned
    with GLib.  If you are, however, GLib will make your life as a C programmer
    much easier.
  </p>

  <list style="compact">
    <item><p><link href="http://developer.gnome.org/glib/stable/">GLib reference manual</link></p></item>
  </list>

</page>
