<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="dev-translate-tools" xml:lang="fr">

  <info>
    <revision version="0.1" date="2013-06-19" status="review"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc/>
  </info>

  <title>Translation tools</title>

  <links type="series" style="floatend">
    <title>Set up translations</title>
  </links>

  <p>At this point the strings are ready for translation, or
  <em>localization</em>. For projects hosted in the GNOME Git repositories,
  this task is handled by the GNOME Translation Project.
  <app href="https://wiki.gnome.org/Apps/Gtranslator">Gtranslator</app>
  is a GNOME tool for editing <file>.po</file> files. Other online and offline
  localization tools include <app>Transifex</app>, <app>Virtaal</app>,
  <app>KBabel</app> or <app>Pootle</app>.</p>

</page>
